@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the DOCKER test111</h1>
    <p>Learn about <a href="www.kleinf.de">building Web apps with ASP.NET Core</a>.</p>
</div>
